@using System.Security.Claims
@{
    bool isLogon = User.Identity?.IsAuthenticated ?? false;
    string? logonUsername = Context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - DemoForum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/DemoForum.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DemoForum</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-white-50" asp-area="" asp-controller="Home" asp-action="Index">首頁</a>
                    </li>
                    @if (isLogon)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white-50" asp-area="" asp-controller="Post" asp-action="GetNewEditor">發表文章</a>
                        </li>
                    }
                </ul>
            </div>
            
            @if (!isLogon)
            {
                <li class="nav-item" style="display: flex; justify-content: flex-end">
                    <div><a class="nav-link text-white-50" asp-area="" asp-controller="User" asp-action="GetLogin">登入</a></div>
                </li>
                <li class="nav-item" style="display: flex; justify-content: flex-end">
                    <div><a class="nav-link text-white-50" asp-area="" asp-controller="User" asp-action="GetRegister">註冊</a></div>
                </li>
            }
            else
            {
                <li class="nav-item" style="display: flex; justify-content: flex-end">
                    <div><h class="nav-link text-white-50">@logonUsername</h></div>
                </li>
                <li class="nav-item" style="display: flex; justify-content: flex-end">
                    <div><a class="nav-link text-white-50" asp-area="" asp-controller="User" asp-action="Logout">登出</a></div>
                </li>
            }
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 Teamol Huang
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
@await Component.InvokeAsync("Notyf")
</body>
</html>