@using DemoForum.Utils
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.IdentityModel.Tokens
@model HomeViewModel

@{
    ViewData["Title"] = "DemoForum";
    List<PostPreviewViewModel>? posts = Model.Posts?.ToList();
    
    bool isLogon = User.Identity?.IsAuthenticated ?? false;
}

<div class="text-center">
    <h3 class="display-4">論壇 Demo 展示</h3>

    <hr/>
    
    <form>
    @if (isLogon)
    {
        <button class="button-cyan" type="submit" asp-action="GetNewEditor" asp-controller="Post">發表新文章</button>
    }
    else
    {
        <button class="button-cyan" type="submit" asp-action="GetLogin" asp-controller="User">登入</button>
        <button type="submit" asp-action="GetRegister" asp-controller="User">註冊</button>
    }
    </form>
    
    <div class="post-list" style="text-align: left">
        @if (posts.IsNullOrEmpty())
        {
            <h5>還沒有文章！？趕快來成為第一個發文的人吧！</h5>
        }
        else
        {
            foreach (PostPreviewViewModel post in posts!)
            {
                // (作者) (文章 id - 時間)
                // 標題
                // 預覽
                <p class="post-info" style="margin-right: 12px">@(post.AuthorName ?? "無作者資訊")</p><p class="post-info" style="margin-right: 12px">#@post.Id - @post.CreatedTime</p><p class="post-info">評價：@(post.CommentScore ?? 0)</p>
                <h2 style="position: relative; top: -5px;"><a class="post-title">@Html.ActionLink(post.Title ?? "無題", "Read", "Post", new {post.Id})</a></h2>
                <h6>@post.Content</h6>
                <hr/>
            }
        }
    </div>
</div>