@using Microsoft.IdentityModel.Tokens
@model HomeViewModel

@{
    ViewData["Title"] = "DemoForum";
    List<PostPreviewViewModel>? posts = Model.Posts?.ToList();
}

<div class="text-center">
    <h3 class="display-4">論壇 Demo 展示</h3>

    <hr/>

    <div class="post-list" style="text-align: left">
        @if (posts.IsNullOrEmpty())
        {
            <h5>還沒有文章！？趕快來成為第一個發文的人吧！</h5>
        }
        else
        {
            foreach (PostPreviewViewModel post in posts!)
            {
                // 文章 id - 時間
                // 標題
                // 預覽
                <p class="post-number">#@post.Id - @post.CreatedTime</p>
                <h2 style="position: relative; top: -5px;"><a class="post-title">@Html.ActionLink(post.Title ?? "無題", "Read", "Post", new {post.Id})</a></h2>
                <h6>@post.Content</h6>
                <hr/>
            }
        }
    </div>
</div>