@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.IdentityModel.Tokens
@model PostViewModel?

@{
    bool isValid = Model != null;
    bool isLogon = User.Identity?.IsAuthenticated ?? false;
    string? logonUsername = Context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
    bool isByUser = isValid && isLogon && Model!.AuthorName == logonUsername;

    bool hasComment = !Model!.CommentViews.IsNullOrEmpty();
    string pushChinese = ViewBag.PushChinese;
    string booChinese = ViewBag.BooChinese;
    string naturalChinese = ViewBag.NaturalChinese;
}

<!DOCTYPE html>

<html lang="zh-tw">
<head>
    <title>閱讀文章</title>
</head>
<body>
<div>
    <div style="display: flex; justify-content: space-between">
        <form method="get">
            <button type="submit" asp-action="Index" asp-controller="Home">回首頁</button>
        </form>
        @if (isByUser)
        {
            <form asp-controller="Post" method="post">
                @Html.HiddenFor(model => model!.Id)
                <button type="submit" asp-action="EditPost">修改文章</button>
                <button type="submit" asp-action="DeletePostConfirmation">刪除文章</button>
            </form>
        }
    </div>
    <hr/>
    @if (!isValid)
    {
        <h5>查無內容，文章可能已被刪除 ...</h5>
        return;
    }
    
    <h2 class="post-title" legend>@Model!.Title</h2>
    <p class="post-info" style="margin-right: 6px">作者：@(Model.AuthorName)</p>
    <p class="post-info" style="margin-right: 6px">發表時間：@(Model.CreatedTime)</p>
    @if (Model.UpdatedTime != null)
    {
        <p class="post-info">最後修改時間：@(Model.UpdatedTime)</p>
    }
    <hr/>
    <h5>@Model.Content</h5>
    @if (isLogon)
    {
        <hr/>
        @await Html.PartialAsync("..\\Comment\\_CommentInput", new CommentInputViewModel
        {
            PushChinese = pushChinese,
            BooChinese = booChinese,
            NaturalChinese = naturalChinese,
            IsUserAuthor = isByUser,
            PostId = Model.Id
        })
    }
    <hr/>
    @if (hasComment)
    {
        
        int counter = 0;
        foreach (CommentViewModel c in Model.CommentViews!)
        {
            c.Floor = ++counter;
            @await Html.PartialAsync("..\\Comment\\_Comment", c)
            <hr/>
        }
    }
    <form method="get">
        <button type="submit" asp-action="Index" asp-controller="Home">回首頁</button>
    </form>
    <hr/>
</div>
</body>
</html>