@model PostViewModel?

@{
    bool isValid = Model != null;
}

<!DOCTYPE html>

<html lang="zh-tw">
<head>
    <title>閱讀文章</title>
</head>
<body>
<div>
    <h6><a>@Html.ActionLink("回首頁", "Index", "Home", null)</a></h6>
    <hr/>
    @if (isValid)
    {
        <h2 class="post-title" legend>@Model!.Title</h2>
        <p class="post-info" style="display: inline">@Model.CreatedTime)</p>
        <hr/>
        <h5>@Model.Content</h5>
    }
    else
    {
        <h5>查無內容，文章可能已被刪除 ...</h5>
    }
</div>
</body>
</html>