@model PostViewModel?

<!DOCTYPE html>

<html lang="zh-tw">
<head>
    <title>閱讀文章</title>
</head>
<body>
<div>
    <h6><a>@Html.ActionLink("回首頁", "Index", "Home", null)</a></h6>
    <hr/>
    <h2 class="post-title" legend>@(Model?.Title ?? "無題")</h2>
    <p class="post-number" style="display: inline">@(Model?.CreatedTime ?? "-")</p>
    <hr/>
    @(Model?.Content ?? "無內容，文章可能已被刪除 ...")
</div>
</body>
</html>