@model CommentInputViewModel

<div class="comment-input" style="display: inline-flex">
    <form asp-controller="Comment" method="post">
        @Html.HiddenFor(m => m.PostId)
        <input type="text" asp-for="CommentContent" size="140" minlength="1" maxlength="100" placeholder="輸入推文內容（1 ~ 100 字）..."/><br/>
        @if (!Model.IsUserAuthor ?? false)
        {
            // 自己的文章只允許箭頭
            <button class="button-cyan" type="submit" asp-action="Push" asp-controller="Comment">@Model.PushChinese</button>
            <button class="button-red" type="submit" asp-action="Boo" asp-controller="Comment">@Model.BooChinese</button>
        }
        <button class="button-yellow" type="submit" asp-action="Natural" asp-controller="Comment">@Model.NaturalChinese</button>
    </form>
</div>